######################
####    Django    ####
######################

# Example:
## DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
DJANGO_ALLOWED_HOSTS=


######################
####    42 API    ####
######################

# Example:
## 42_CLIENT_ID=your_very_long_client_id
SSO_42_CLIENT_ID=

# Example:
## 42_REDIRECT_URI=https://www.example.com/oauth_callback
SSO_42_REDIRECT_URI=


######################
####   OpenSSL    ####
######################

# Example:
## SSL_CERT_PATH=/path/to/certs/
## SSL_CERT_FILE=file.crt
SSL_CERT_PATH=
SSL_CERT_FILE=

# Example:
## SSL_CERT_KEY_PATH=/path/to/private/
## SSL_CERT_KEY_FILE=file.key
SSL_CERT_KEY_PATH=
SSL_CERT_KEY_FILE=

######################
####   Grafana    ####
######################

# Example:
## GF_SECURITY_ADMIN_USER=grafana_username
GF_SECURITY_ADMIN_USER=

# Example:
## GF_SECURITY_ADMIN_USER=grafana_password
GF_SECURITY_ADMIN_PASSWORD=

######################
#### Alertmanager ####
######################

# Example:
## SLACK_ALERTMANAGER_WEBHOOK=webrook_url-to-slack
SLACK_ALERTMANAGER_WEBHOOK=

# Example:
## SLACK_CHANNEL=slack_channel_name
SLACK_ALERTMANAGER_CHANNEL=