.primary-form.extra-form-class {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

.form-error {
    position: absolute;
    color: red;
    font-size: 13px;
    font-weight: bold;
    font-family: "Source Sans 3", sans-serif;
    top: -25px;
    text-align: center;
    width: 100%;
}

.form-success {
    position: absolute;
    color: #7CFC00;
    font-size: 13px;
    font-weight: bold;
    font-family: "Source Sans 3", sans-serif;
    top: -25px;
    text-align: center;
    width: 100%;
}

.position-relative {
	position: relative;
}

.input-error {
    border: 2px solid red;
	border-radius: 5px;	
}

.input-btn {
	outline: 2px solid transparent;
	border-radius: 5px;
}

.input-btn-error {
	outline: 2px solid red;
	border-radius: 5px;			
}

input-box:focus-visible {
    outline: none;
}
