.avatar:hover {
    filter: drop-shadow(0 0 8px #9461e6);
}

.avatar-bright {
    filter: drop-shadow(0 0 8px #9461e6);
}

.avatar-border-lg {
	outline: 4px solid white;
}

.avatar-border-sm {
	outline: 1px solid white;
}
