.primary-button.extra-btn-class,
.primary-button.extra-btn-class:disabled {
    color: white;
    background-color: #520dc2;
    border-color: #520dc2;
    width: 220px;
	font-weight: bold;
}

.primary-button.extra-btn-class:hover,
.primary-button.extra-btn-class:active{
    color: white;
    background-color: #3e0d8e;
    border-color: #3e0d8e;
    transition: 0.5s;
}

.secondary-button.extra-btn-class {
    color: white;
    background-color: #9461e6;
    border-color: #9461e6;
    width: 220px;
	font-weight: bold;
}

.secondary-button.extra-btn-class:hover,
.secondary-button.extra-btn-class:active {
    color: white;
    background-color: #7439d2;
    border-color: #7439d2;
	transition: 0.5s;
}

.white-button.extra-btn-class {
    color: #343A40;
    background-color: white;
    border-color: white;
    width: 220px;
	font-weight: bold;
}

.white-button.extra-btn-class:hover,
.white-button.extra-btn-class:active {
    color: #343A40;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
}

.red-button.extra-btn-class {
    color: white;
    background-color: #8B0000;
    border-color: #8B0000;
    width: 220px;
	font-weight: bold;
}

.red-button.extra-btn-class:hover,
.red-button.extra-btn-class:active {
    color: white;
    background-color: #7A0000;
    border-color: #7A0000;
}

.full-white-button.extra-btn-class {
    color: #3e0d8e;
    background-color: white;
    border-color: white;
    width: 220px;
	font-weight: bold;
}

.full-white-button.extra-btn-class:hover,
.full-white-button.extra-btn-class:active {
    color: #3e0d8e;
    background-color: #b0b0b0;
    border-color: #b0b0b0;
    width: 220px;
	font-weight: bold;
}

.btn-small {
	width: 100px;
	margin-bottom: 10px;
}

.box {
	padding: 10px;
	background-color: #140330;
	border-radius: 10px;
}

.full-width {
    width: 100%;
}