.form-error {
    position: absolute;
    color: red;
    font-size: 12px;
	font-weight: bold;
    font-family: "Source Sans 3", sans-serif;
	top: -24px;
	text-align: center;
    width: 100%;
}

.input-error {
    border: 1px solid red;
}