.form-error {
    position: absolute;
    color: red;
    font-size: 13px;
	font-weight: bold;
    font-family: "Source Sans 3", sans-serif;
	top: -25px;
	text-align: center;
    width: 100%;
}

.form-success {
    position: absolute;
    color: #7CFC00;
    font-size: 13px;
	font-weight: bold;
    font-family: "Source Sans 3", sans-serif;
	top: -25px;
	text-align: center;
    width: 100%;
}

.input-error {
    border: 2px solid red;
}

.position-relative {
    position: relative;
}