.primary-form {
    color: #520dc2;
    background-color: white;
    border-color: white;
}

.primary-form:user-invalid {
    color: #520dc2;
    background-color: white;
    border-color: white;
	outline: 1px solid red;
}