@import './Avatar.css';
@import './Buttons.css';
@import './errors.css';
@import './HomePage.css';
@import './Inputs.css';
@import './Layout.css';
@import './Pong.css';
@import './stars.css';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-attachment: fixed;
    background: linear-gradient(180deg, #000 0%, #372067 70%, #6421f2 100%);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#main {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
}

.h1 {
    color: white;
    font-size: 500px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: bold;
}

/*
#stars {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
    animation: animateStar 50s linear infinite;
    box-shadow: 779px 1331px #fefefe, 324px 42px #fefefe, 303px 586px #fefefe,
        1312px 276px #fefefe, 451px 625px #fefefe, 521px 1931px #fefefe,
        1087px 1871px #fefefe, 36px 1546px #fefefe, 132px 934px #fefefe,
        1698px 901px #fefefe, 1418px 664px #fefefe, 1448px 1157px #fefefe,
        1084px 232px #fefefe, 347px 1776px #fefefe, 1722px 243px #fefefe,
        1629px 835px #fefefe, 479px 969px #fefefe, 1231px 960px #fefefe, 586px 384px #fefefe,
        164px 527px #fefefe, 8px 646px #fefefe, 1150px 1126px #fefefe, 665px 1357px #fefefe,
        1556px 1982px #fefefe, 1260px 1961px #fefefe, 1675px 1741px #fefefe,
        1843px 1514px #fefefe, 718px 1628px #fefefe, 242px 1343px #fefefe,
        1497px 1880px #fefefe, 1364px 230px #fefefe, 1739px 1302px #fefefe,
        636px 959px #fefefe, 304px 686px #fefefe, 614px 751px #fefefe, 1935px 816px #fefefe,
        1428px 60px #fefefe, 355px 335px #fefefe, 1594px 158px #fefefe, 90px 60px #fefefe,
        1553px 162px #fefefe, 1239px 1825px #fefefe, 1945px 587px #fefefe,
        749px 1785px #fefefe, 1987px 1172px #fefefe, 1301px 1237px #fefefe,
        1039px 342px #fefefe, 1585px 1481px #fefefe, 995px 1048px #fefefe,
        524px 932px #fefefe, 214px 413px #fefefe, 1701px 1300px #fefefe,
        1037px 1613px #fefefe, 1871px 996px #fefefe, 1360px 1635px #fefefe,
        1110px 1313px #fefefe, 412px 1783px #fefefe, 1949px 177px #fefefe,
        903px 1854px #fefefe, 700px 1936px #fefefe, 378px 125px #fefefe, 308px 834px #fefefe,
        1118px 962px #fefefe, 1350px 1929px #fefefe, 781px 1811px #fefefe,
        561px 137px #fefefe, 757px 1148px #fefefe, 1670px 1979px #fefefe,
        343px 739px #fefefe, 945px 795px #fefefe, 576px 1903px #fefefe,
        1078px 1436px #fefefe, 1583px 450px #fefefe, 1366px 474px #fefefe,
        297px 1873px #fefefe, 192px 162px #fefefe, 1624px 1633px #fefefe, 59px 453px #fefefe,
        82px 1872px #fefefe, 1933px 498px #fefefe, 1966px 1974px #fefefe,
        1975px 1688px #fefefe, 779px 314px #fefefe, 1858px 1543px #fefefe,
        73px 1507px #fefefe, 1693px 975px #fefefe, 1683px 108px #fefefe,
        1768px 1654px #fefefe, 654px 14px #fefefe, 494px 171px #fefefe,
        1689px 1895px #fefefe, 1660px 263px #fefefe, 1031px 903px #fefefe,
        1203px 1393px #fefefe, 1333px 1421px #fefefe, 1113px 41px #fefefe,
        1206px 1645px #fefefe, 1325px 1635px #fefefe, 142px 388px #fefefe,
        572px 215px #fefefe, 1535px 296px #fefefe, 1419px 407px #fefefe,
        1379px 1003px #fefefe, 329px 469px #fefefe, 1791px 1652px #fefefe,
        935px 1802px #fefefe, 1330px 1820px #fefefe, 421px 1933px #fefefe,
        828px 365px #fefefe, 275px 316px #fefefe, 707px 960px #fefefe, 1605px 1554px #fefefe,
        625px 58px #fefefe, 717px 1697px #fefefe, 1669px 246px #fefefe, 1925px 322px #fefefe,
        1154px 1803px #fefefe, 1929px 295px #fefefe, 1248px 240px #fefefe,
        1045px 1755px #fefefe, 166px 942px #fefefe, 1888px 1773px #fefefe,
        678px 1963px #fefefe, 1370px 569px #fefefe, 1974px 1400px #fefefe,
        1786px 460px #fefefe, 51px 307px #fefefe, 784px 1400px #fefefe, 730px 1258px #fefefe,
        1712px 393px #fefefe, 416px 170px #fefefe, 1797px 1932px #fefefe,
        572px 219px #fefefe, 1557px 1856px #fefefe, 218px 8px #fefefe, 348px 1334px #fefefe,
        469px 413px #fefefe, 385px 1738px #fefefe, 1357px 1818px #fefefe,
        240px 942px #fefefe, 248px 1847px #fefefe, 1535px 806px #fefefe,
        236px 1514px #fefefe, 1429px 1556px #fefefe, 73px 1633px #fefefe,
        1398px 1121px #fefefe, 671px 1301px #fefefe, 1404px 1663px #fefefe,
        740px 1018px #fefefe, 1600px 377px #fefefe, 785px 514px #fefefe,
        112px 1084px #fefefe, 1915px 1887px #fefefe, 1463px 1848px #fefefe,
        687px 1115px #fefefe, 1268px 1768px #fefefe, 1729px 1425px #fefefe,
        1284px 1022px #fefefe, 801px 974px #fefefe, 1975px 1317px #fefefe,
        1354px 834px #fefefe, 1446px 1484px #fefefe, 1283px 1786px #fefefe,
        11px 523px #fefefe, 1842px 236px #fefefe, 1355px 654px #fefefe, 429px 7px #fefefe,
        1033px 1128px #fefefe, 157px 297px #fefefe, 545px 635px #fefefe, 52px 1080px #fefefe,
        827px 1520px #fefefe, 1121px 490px #fefefe, 9px 309px #fefefe, 1744px 1586px #fefefe,
        1014px 417px #fefefe, 1534px 524px #fefefe, 958px 552px #fefefe,
        1403px 1496px #fefefe, 387px 703px #fefefe, 1522px 548px #fefefe,
        1355px 282px #fefefe, 1532px 601px #fefefe, 1838px 790px #fefefe,
        290px 259px #fefefe, 295px 598px #fefefe, 1601px 539px #fefefe,
        1561px 1272px #fefefe, 34px 1922px #fefefe, 1024px 543px #fefefe,
        467px 369px #fefefe, 722px 333px #fefefe, 1976px 1255px #fefefe, 766px 983px #fefefe,
        1582px 1285px #fefefe, 12px 512px #fefefe, 617px 1410px #fefefe, 682px 577px #fefefe,
        1334px 1438px #fefefe, 439px 327px #fefefe, 1617px 1661px #fefefe,
        673px 129px #fefefe, 794px 941px #fefefe, 1386px 1902px #fefefe, 37px 1353px #fefefe,
        1467px 1353px #fefefe, 416px 18px #fefefe, 187px 344px #fefefe, 200px 1898px #fefefe,
        1491px 1619px #fefefe, 811px 347px #fefefe, 924px 1827px #fefefe,
        945px 217px #fefefe, 1735px 1228px #fefefe, 379px 1890px #fefefe, 79px 761px #fefefe,
        825px 1837px #fefefe, 1980px 1558px #fefefe, 1308px 1573px #fefefe,
        1488px 1726px #fefefe, 382px 1208px #fefefe, 522px 595px #fefefe,
        1277px 1898px #fefefe, 354px 552px #fefefe, 161px 1784px #fefefe,
        614px 251px #fefefe, 526px 1576px #fefefe, 17px 212px #fefefe, 179px 996px #fefefe,
        467px 1208px #fefefe, 1944px 1838px #fefefe, 1140px 1093px #fefefe,
        858px 1007px #fefefe, 200px 1064px #fefefe, 423px 1964px #fefefe,
        1945px 439px #fefefe, 1377px 689px #fefefe, 1120px 1437px #fefefe,
        1876px 668px #fefefe, 907px 1324px #fefefe, 343px 1976px #fefefe,
        1816px 1501px #fefefe, 1849px 177px #fefefe, 647px 91px #fefefe,
        1984px 1012px #fefefe, 1336px 1300px #fefefe, 128px 648px #fefefe,
        305px 1060px #fefefe, 1324px 826px #fefefe, 1263px 1314px #fefefe,
        1801px 629px #fefefe, 1614px 1555px #fefefe, 1634px 90px #fefefe,
        1603px 452px #fefefe, 891px 1984px #fefefe, 1556px 1906px #fefefe,
        121px 68px #fefefe, 1676px 1714px #fefefe, 516px 936px #fefefe,
        1947px 1492px #fefefe, 1455px 1519px #fefefe, 45px 602px #fefefe,
        205px 1039px #fefefe, 793px 172px #fefefe, 1562px 1739px #fefefe,
        1056px 110px #fefefe, 1512px 379px #fefefe, 1795px 1621px #fefefe,
        1848px 607px #fefefe, 262px 1719px #fefefe, 477px 991px #fefefe, 483px 883px #fefefe,
        1239px 1197px #fefefe, 1496px 647px #fefefe, 1649px 25px #fefefe,
        1491px 1946px #fefefe, 119px 996px #fefefe, 179px 1472px #fefefe,
        1341px 808px #fefefe, 1565px 1700px #fefefe, 407px 1544px #fefefe,
        1754px 357px #fefefe, 1288px 981px #fefefe, 902px 1997px #fefefe,
        1755px 1668px #fefefe, 186px 877px #fefefe, 1202px 1882px #fefefe,
        461px 1213px #fefefe, 1400px 748px #fefefe, 1969px 1899px #fefefe,
        809px 522px #fefefe, 514px 1219px #fefefe, 374px 275px #fefefe, 938px 1973px #fefefe,
        357px 552px #fefefe, 144px 1722px #fefefe, 1572px 912px #fefefe,
        402px 1858px #fefefe, 1544px 1195px #fefefe, 667px 1257px #fefefe,
        727px 1496px #fefefe, 993px 232px #fefefe, 1772px 313px #fefefe,
        1040px 1590px #fefefe, 1204px 1973px #fefefe, 1268px 79px #fefefe,
        1555px 1048px #fefefe, 986px 1707px #fefefe, 978px 1710px #fefefe,
        713px 360px #fefefe, 407px 863px #fefefe, 461px 736px #fefefe, 284px 1608px #fefefe,
        103px 430px #fefefe, 1283px 1319px #fefefe, 977px 1186px #fefefe,
        1966px 1516px #fefefe, 1287px 1129px #fefefe, 70px 1098px #fefefe,
        1189px 889px #fefefe, 1126px 1734px #fefefe, 309px 1292px #fefefe,
        879px 764px #fefefe, 65px 473px #fefefe, 1003px 1959px #fefefe, 658px 791px #fefefe,
        402px 1576px #fefefe, 35px 622px #fefefe, 529px 1589px #fefefe, 164px 666px #fefefe,
        1876px 1290px #fefefe, 1541px 526px #fefefe, 270px 1297px #fefefe,
        440px 865px #fefefe, 1500px 802px #fefefe, 182px 1754px #fefefe,
        1264px 892px #fefefe, 272px 1249px #fefefe, 1289px 1535px #fefefe,
        190px 1646px #fefefe, 955px 242px #fefefe, 1456px 1597px #fefefe,
        1727px 1983px #fefefe, 635px 801px #fefefe, 226px 455px #fefefe,
        1396px 1710px #fefefe, 849px 1863px #fefefe, 237px 1264px #fefefe,
        839px 140px #fefefe, 1122px 735px #fefefe, 1280px 15px #fefefe, 1318px 242px #fefefe,
        1819px 1148px #fefefe, 333px 1392px #fefefe, 1949px 553px #fefefe,
        1878px 1332px #fefefe, 467px 548px #fefefe, 1812px 1082px #fefefe,
        1067px 193px #fefefe, 243px 156px #fefefe, 483px 1616px #fefefe,
        1714px 933px #fefefe, 759px 1800px #fefefe, 1822px 995px #fefefe,
        1877px 572px #fefefe, 581px 1084px #fefefe, 107px 732px #fefefe,
        642px 1837px #fefefe, 166px 1493px #fefefe, 1555px 198px #fefefe,
        819px 307px #fefefe, 947px 345px #fefefe, 827px 224px #fefefe, 927px 1394px #fefefe,
        540px 467px #fefefe, 1093px 405px #fefefe, 1140px 927px #fefefe, 130px 529px #fefefe,
        33px 1980px #fefefe, 1147px 1663px #fefefe, 1616px 1436px #fefefe,
        528px 710px #fefefe, 798px 1100px #fefefe, 505px 1480px #fefefe, 899px 641px #fefefe,
        1909px 1949px #fefefe, 1311px 964px #fefefe, 979px 1301px #fefefe,
        1393px 969px #fefefe, 1793px 1886px #fefefe, 292px 357px #fefefe,
        1196px 1718px #fefefe, 1290px 1994px #fefefe, 537px 1973px #fefefe,
        1181px 1674px #fefefe, 1740px 1566px #fefefe, 1307px 265px #fefefe,
        922px 522px #fefefe, 1892px 472px #fefefe, 384px 1746px #fefefe,
        392px 1098px #fefefe, 647px 548px #fefefe, 390px 1498px #fefefe,
        1246px 138px #fefefe, 730px 876px #fefefe, 192px 1472px #fefefe,
        1790px 1789px #fefefe, 928px 311px #fefefe, 1253px 1647px #fefefe,
        747px 1921px #fefefe, 1561px 1025px #fefefe, 1533px 1292px #fefefe,
        1985px 195px #fefefe, 728px 729px #fefefe, 1712px 1936px #fefefe,
        512px 1717px #fefefe, 1528px 483px #fefefe, 313px 1642px #fefefe,
        281px 1849px #fefefe, 1212px 799px #fefefe, 435px 1191px #fefefe,
        1422px 611px #fefefe, 1718px 1964px #fefefe, 411px 944px #fefefe,
        210px 636px #fefefe, 1502px 1295px #fefefe, 1434px 349px #fefefe, 769px 60px #fefefe,
        747px 1053px #fefefe, 789px 504px #fefefe, 1436px 1264px #fefefe,
        1893px 1225px #fefefe, 1394px 1788px #fefefe, 1108px 1317px #fefefe,
        1673px 1395px #fefefe, 854px 1010px #fefefe, 1705px 80px #fefefe,
        1858px 148px #fefefe, 1729px 344px #fefefe, 1388px 664px #fefefe,
        895px 406px #fefefe, 1479px 157px #fefefe, 1441px 1157px #fefefe,
        552px 1900px #fefefe, 516px 364px #fefefe, 1647px 189px #fefefe,
        1427px 1071px #fefefe, 785px 729px #fefefe, 1080px 1710px #fefefe,
        504px 204px #fefefe, 1177px 1622px #fefefe, 657px 34px #fefefe,
        1296px 1099px #fefefe, 248px 180px #fefefe, 1212px 1568px #fefefe,
        667px 1562px #fefefe, 695px 841px #fefefe, 1608px 1247px #fefefe,
        751px 882px #fefefe, 87px 167px #fefefe, 607px 1368px #fefefe, 1363px 1203px #fefefe,
        1836px 317px #fefefe, 1668px 1703px #fefefe, 830px 1154px #fefefe,
        1721px 1398px #fefefe, 1601px 1280px #fefefe, 976px 874px #fefefe,
        1743px 254px #fefefe, 1020px 1815px #fefefe, 1670px 1766px #fefefe,
        1890px 735px #fefefe, 1379px 136px #fefefe, 1864px 695px #fefefe,
        206px 965px #fefefe, 1404px 1932px #fefefe, 1923px 1360px #fefefe,
        247px 682px #fefefe, 519px 1708px #fefefe, 645px 750px #fefefe,
        1164px 1204px #fefefe, 834px 323px #fefefe, 172px 1350px #fefefe,
        213px 972px #fefefe, 1837px 190px #fefefe, 285px 1806px #fefefe,
        1047px 1299px #fefefe, 1548px 825px #fefefe, 1730px 324px #fefefe,
        1346px 1909px #fefefe, 772px 270px #fefefe, 345px 1190px #fefefe,
        478px 1433px #fefefe, 1479px 25px #fefefe, 1994px 1830px #fefefe,
        1744px 732px #fefefe, 20px 1635px #fefefe, 690px 1795px #fefefe,
        1594px 569px #fefefe, 579px 245px #fefefe, 1398px 733px #fefefe,
        408px 1352px #fefefe, 1774px 120px #fefefe, 1152px 1370px #fefefe,
        1698px 1810px #fefefe, 710px 1450px #fefefe, 665px 286px #fefefe,
        493px 1720px #fefefe, 786px 5px #fefefe, 637px 1140px #fefefe, 764px 324px #fefefe,
        927px 310px #fefefe, 938px 1424px #fefefe, 1884px 744px #fefefe, 913px 462px #fefefe,
        1831px 1936px #fefefe, 1527px 249px #fefefe, 36px 1381px #fefefe,
        1597px 581px #fefefe, 1530px 355px #fefefe, 949px 459px #fefefe, 799px 828px #fefefe,
        242px 1471px #fefefe, 654px 797px #fefefe, 796px 594px #fefefe, 1365px 678px #fefefe,
        752px 23px #fefefe, 1630px 541px #fefefe, 982px 72px #fefefe, 1733px 1831px #fefefe,
        21px 412px #fefefe, 775px 998px #fefefe, 335px 1945px #fefefe, 264px 583px #fefefe,
        158px 1311px #fefefe, 528px 164px #fefefe, 1978px 574px #fefefe,
        717px 1203px #fefefe, 734px 1591px #fefefe, 1555px 820px #fefefe,
        16px 1943px #fefefe, 1625px 1177px #fefefe, 1236px 690px #fefefe,
        1585px 1590px #fefefe, 1737px 1728px #fefefe, 721px 698px #fefefe,
        1804px 1186px #fefefe, 166px 980px #fefefe, 1850px 230px #fefefe,
        330px 1712px #fefefe, 95px 797px #fefefe, 1948px 1078px #fefefe, 469px 939px #fefefe,
        1269px 1899px #fefefe, 955px 1220px #fefefe, 1137px 1075px #fefefe,
        312px 1293px #fefefe, 986px 1762px #fefefe, 1103px 1238px #fefefe,
        428px 1993px #fefefe, 355px 570px #fefefe, 977px 1836px #fefefe,
        1395px 1092px #fefefe, 276px 913px #fefefe, 1743px 656px #fefefe,
        773px 502px #fefefe, 1686px 1322px #fefefe, 1516px 1945px #fefefe,
        1334px 501px #fefefe, 266px 156px #fefefe, 455px 655px #fefefe, 798px 72px #fefefe,
        1059px 1259px #fefefe, 1402px 1687px #fefefe, 236px 1329px #fefefe,
        1455px 786px #fefefe, 146px 1228px #fefefe, 1851px 823px #fefefe,
        1062px 100px #fefefe, 1220px 953px #fefefe, 20px 1826px #fefefe, 36px 1063px #fefefe,
        1525px 338px #fefefe, 790px 1521px #fefefe, 741px 1099px #fefefe,
        288px 1489px #fefefe, 700px 1060px #fefefe, 390px 1071px #fefefe,
        411px 1036px #fefefe, 1853px 1072px #fefefe, 1446px 1085px #fefefe,
        1164px 874px #fefefe, 924px 925px #fefefe, 291px 271px #fefefe,
        1257px 1964px #fefefe, 1580px 1352px #fefefe, 1507px 1216px #fefefe,
        211px 956px #fefefe, 985px 1195px #fefefe, 975px 1640px #fefefe, 518px 101px #fefefe,
        663px 1395px #fefefe, 914px 532px #fefefe, 145px 1320px #fefefe, 69px 1397px #fefefe,
        982px 523px #fefefe, 257px 725px #fefefe, 1599px 831px #fefefe,
        1636px 1513px #fefefe, 1250px 1158px #fefefe, 1132px 604px #fefefe,
        183px 102px #fefefe, 1057px 318px #fefefe, 1247px 1835px #fefefe,
        1983px 1110px #fefefe, 1077px 1455px #fefefe, 921px 1770px #fefefe,
        806px 1350px #fefefe, 1938px 1992px #fefefe, 855px 1260px #fefefe,
        902px 1345px #fefefe, 658px 1908px #fefefe, 1845px 679px #fefefe,
        712px 1482px #fefefe, 595px 950px #fefefe, 1784px 1992px #fefefe,
        1847px 1785px #fefefe, 691px 1004px #fefefe, 175px 1179px #fefefe,
        1666px 1911px #fefefe, 41px 61px #fefefe, 971px 1080px #fefefe,
        1830px 1450px #fefefe, 1351px 1518px #fefefe, 1257px 99px #fefefe,
        1395px 1498px #fefefe, 1117px 252px #fefefe, 1779px 597px #fefefe,
        1346px 729px #fefefe, 1108px 1144px #fefefe, 402px 691px #fefefe, 72px 496px #fefefe,
        1673px 1604px #fefefe, 1497px 974px #fefefe, 1865px 1664px #fefefe,
        88px 806px #fefefe, 918px 77px #fefefe, 244px 1118px #fefefe, 256px 1820px #fefefe,
        1851px 1840px #fefefe, 605px 1851px #fefefe, 634px 383px #fefefe, 865px 37px #fefefe,
        943px 1024px #fefefe, 1951px 177px #fefefe, 1097px 523px #fefefe,
        985px 1700px #fefefe, 1243px 122px #fefefe, 768px 1070px #fefefe,
        468px 194px #fefefe, 320px 1867px #fefefe, 1850px 185px #fefefe,
        380px 1616px #fefefe, 468px 1294px #fefefe, 1122px 1743px #fefefe,
        884px 299px #fefefe, 1300px 1917px #fefefe, 1860px 396px #fefefe,
        1270px 990px #fefefe, 529px 733px #fefefe, 1975px 1347px #fefefe,
        1885px 685px #fefefe, 226px 506px #fefefe, 651px 878px #fefefe, 1323px 680px #fefefe,
        1284px 680px #fefefe, 238px 1967px #fefefe, 911px 174px #fefefe,
        1111px 521px #fefefe, 1150px 85px #fefefe, 794px 502px #fefefe, 484px 1856px #fefefe,
        1809px 368px #fefefe, 112px 953px #fefefe, 590px 1009px #fefefe,
        1655px 311px #fefefe, 100px 1026px #fefefe, 1803px 352px #fefefe,
        865px 306px #fefefe, 1077px 1019px #fefefe, 1335px 872px #fefefe,
        1647px 1298px #fefefe, 1233px 1387px #fefefe, 698px 1036px #fefefe,
        659px 1860px #fefefe, 388px 1412px #fefefe, 1212px 458px #fefefe,
        755px 1468px #fefefe, 696px 1654px #fefefe, 1144px 60px #fefefe;
}

#stars2 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: transparent;
    animation: animateStar 100s linear infinite;
    box-shadow: 1448px 320px #fefefe, 1775px 1663px #fefefe, 332px 1364px #fefefe,
        878px 340px #fefefe, 569px 1832px #fefefe, 1422px 1684px #fefefe,
        1946px 1907px #fefefe, 121px 979px #fefefe, 1044px 1069px #fefefe,
        463px 381px #fefefe, 423px 112px #fefefe, 523px 1179px #fefefe, 779px 654px #fefefe,
        1398px 694px #fefefe, 1085px 1464px #fefefe, 1599px 1869px #fefefe,
        801px 1882px #fefefe, 779px 1231px #fefefe, 552px 932px #fefefe,
        1057px 1196px #fefefe, 282px 1280px #fefefe, 496px 1986px #fefefe,
        1833px 1120px #fefefe, 1802px 1293px #fefefe, 6px 1696px #fefefe,
        412px 1902px #fefefe, 605px 438px #fefefe, 24px 1212px #fefefe, 234px 1320px #fefefe,
        544px 344px #fefefe, 1107px 170px #fefefe, 1603px 196px #fefefe, 905px 648px #fefefe,
        68px 1458px #fefefe, 649px 1969px #fefefe, 744px 675px #fefefe, 1127px 478px #fefefe,
        714px 1814px #fefefe, 1486px 526px #fefefe, 270px 1636px #fefefe,
        1931px 149px #fefefe, 1807px 378px #fefefe, 8px 390px #fefefe, 1415px 699px #fefefe,
        1473px 1211px #fefefe, 1590px 141px #fefefe, 270px 1705px #fefefe,
        69px 1423px #fefefe, 1108px 1053px #fefefe, 1946px 128px #fefefe,
        371px 371px #fefefe, 1490px 220px #fefefe, 357px 1885px #fefefe, 363px 363px #fefefe,
        1896px 1256px #fefefe, 1979px 1050px #fefefe, 947px 1342px #fefefe,
        1754px 242px #fefefe, 514px 974px #fefefe, 65px 1477px #fefefe, 1840px 547px #fefefe,
        950px 695px #fefefe, 459px 1150px #fefefe, 1124px 1502px #fefefe,
        481px 940px #fefefe, 680px 839px #fefefe, 797px 1169px #fefefe,
        1977px 1491px #fefefe, 734px 1724px #fefefe, 210px 298px #fefefe,
        816px 628px #fefefe, 686px 770px #fefefe, 1721px 267px #fefefe, 1663px 511px #fefefe,
        1481px 1141px #fefefe, 582px 248px #fefefe, 1308px 953px #fefefe,
        628px 657px #fefefe, 897px 1535px #fefefe, 270px 931px #fefefe, 791px 467px #fefefe,
        1336px 1732px #fefefe, 1013px 1653px #fefefe, 1911px 956px #fefefe,
        587px 816px #fefefe, 83px 456px #fefefe, 930px 1478px #fefefe, 1587px 1694px #fefefe,
        614px 1200px #fefefe, 302px 1782px #fefefe, 1711px 1432px #fefefe,
        443px 904px #fefefe, 1666px 714px #fefefe, 1588px 1167px #fefefe,
        273px 1075px #fefefe, 1679px 461px #fefefe, 721px 664px #fefefe, 1202px 10px #fefefe,
        166px 1126px #fefefe, 331px 1628px #fefefe, 430px 1565px #fefefe,
        1585px 509px #fefefe, 640px 38px #fefefe, 822px 837px #fefefe, 1760px 1664px #fefefe,
        1122px 1458px #fefefe, 398px 131px #fefefe, 689px 285px #fefefe, 460px 652px #fefefe,
        1627px 365px #fefefe, 348px 1648px #fefefe, 819px 1946px #fefefe,
        981px 1917px #fefefe, 323px 76px #fefefe, 979px 684px #fefefe, 887px 536px #fefefe,
        1348px 1596px #fefefe, 1055px 666px #fefefe, 1402px 1797px #fefefe,
        1300px 1055px #fefefe, 937px 238px #fefefe, 1474px 1815px #fefefe,
        1144px 1710px #fefefe, 1629px 1087px #fefefe, 911px 919px #fefefe,
        771px 819px #fefefe, 403px 720px #fefefe, 163px 736px #fefefe, 1062px 238px #fefefe,
        1774px 818px #fefefe, 1874px 1178px #fefefe, 1177px 699px #fefefe,
        1244px 1244px #fefefe, 1371px 58px #fefefe, 564px 1515px #fefefe,
        1824px 487px #fefefe, 929px 702px #fefefe, 394px 1348px #fefefe,
        1161px 641px #fefefe, 219px 1841px #fefefe, 358px 941px #fefefe,
        140px 1759px #fefefe, 1019px 1345px #fefefe, 274px 436px #fefefe,
        1433px 1605px #fefefe, 1798px 1426px #fefefe, 294px 1848px #fefefe,
        1681px 1877px #fefefe, 1344px 1824px #fefefe, 1439px 1632px #fefefe,
        161px 1012px #fefefe, 1308px 588px #fefefe, 1789px 582px #fefefe,
        721px 1910px #fefefe, 318px 218px #fefefe, 607px 319px #fefefe, 495px 535px #fefefe,
        1552px 1575px #fefefe, 1562px 67px #fefefe, 403px 926px #fefefe,
        1096px 1800px #fefefe, 1814px 1709px #fefefe, 1882px 1831px #fefefe,
        533px 46px #fefefe, 823px 969px #fefefe, 530px 165px #fefefe, 1030px 352px #fefefe,
        1681px 313px #fefefe, 338px 115px #fefefe, 1607px 211px #fefefe,
        1718px 1184px #fefefe, 1589px 659px #fefefe, 278px 355px #fefefe,
        464px 1464px #fefefe, 1165px 277px #fefefe, 950px 694px #fefefe,
        1746px 293px #fefefe, 793px 911px #fefefe, 528px 773px #fefefe,
        1883px 1694px #fefefe, 748px 182px #fefefe, 1924px 1531px #fefefe,
        100px 636px #fefefe, 1473px 1445px #fefefe, 1264px 1244px #fefefe,
        850px 1377px #fefefe, 987px 1976px #fefefe, 933px 1761px #fefefe,
        922px 1270px #fefefe, 500px 396px #fefefe, 1324px 8px #fefefe, 1967px 1814px #fefefe,
        1072px 1401px #fefefe, 961px 37px #fefefe, 156px 81px #fefefe, 1915px 502px #fefefe,
        1076px 1846px #fefefe, 152px 1669px #fefefe, 986px 1529px #fefefe,
        1667px 1137px #fefefe;
}

#stars3 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: transparent;
    animation: animateStar 150s linear infinte;
    box-shadow: 387px 1878px #fefefe, 760px 1564px #fefefe, 1487px 999px #fefefe,
        948px 1828px #fefefe, 1977px 1001px #fefefe, 1284px 1963px #fefefe,
        656px 284px #fefefe, 1268px 1635px #fefefe, 1820px 598px #fefefe,
        642px 1900px #fefefe, 296px 57px #fefefe, 921px 1620px #fefefe, 476px 1858px #fefefe,
        658px 613px #fefefe, 1171px 1363px #fefefe, 1419px 283px #fefefe,
        1037px 731px #fefefe, 503px 663px #fefefe, 1562px 463px #fefefe,
        383px 1197px #fefefe, 1171px 1233px #fefefe, 876px 1768px #fefefe,
        856px 1615px #fefefe, 1375px 1924px #fefefe, 1725px 918px #fefefe,
        952px 119px #fefefe, 768px 1212px #fefefe, 992px 1462px #fefefe,
        1929px 717px #fefefe, 1947px 755px #fefefe, 1818px 1123px #fefefe,
        1896px 1672px #fefefe, 460px 198px #fefefe, 256px 271px #fefefe, 752px 544px #fefefe,
        1222px 1859px #fefefe, 1851px 443px #fefefe, 313px 1858px #fefefe,
        709px 446px #fefefe, 1546px 697px #fefefe, 674px 1155px #fefefe,
        1112px 130px #fefefe, 355px 1790px #fefefe, 1496px 974px #fefefe,
        1696px 480px #fefefe, 1316px 1265px #fefefe, 1645px 1063px #fefefe,
        1182px 237px #fefefe, 427px 1582px #fefefe, 859px 253px #fefefe, 458px 939px #fefefe,
        1517px 1644px #fefefe, 1943px 60px #fefefe, 212px 1650px #fefefe,
        966px 1786px #fefefe, 473px 712px #fefefe, 130px 76px #fefefe, 1417px 1186px #fefefe,
        909px 1580px #fefefe, 1913px 762px #fefefe, 204px 1143px #fefefe,
        1998px 1057px #fefefe, 1468px 1301px #fefefe, 144px 1676px #fefefe,
        21px 1601px #fefefe, 382px 1362px #fefefe, 912px 753px #fefefe,
        1488px 1405px #fefefe, 802px 156px #fefefe, 174px 550px #fefefe,
        338px 1366px #fefefe, 1197px 774px #fefefe, 602px 486px #fefefe,
        682px 1877px #fefefe, 348px 1503px #fefefe, 407px 1139px #fefefe,
        950px 1400px #fefefe, 922px 1139px #fefefe, 1697px 293px #fefefe,
        1238px 1281px #fefefe, 1038px 1197px #fefefe, 376px 1889px #fefefe,
        1255px 1680px #fefefe, 1008px 1316px #fefefe, 1538px 1447px #fefefe,
        1186px 874px #fefefe, 1967px 640px #fefefe, 1341px 19px #fefefe, 29px 1732px #fefefe,
        16px 1650px #fefefe, 1021px 1075px #fefefe, 723px 424px #fefefe, 1175px 41px #fefefe,
        494px 1957px #fefefe, 1296px 431px #fefefe, 175px 1507px #fefefe,
        831px 121px #fefefe, 498px 1947px #fefefe, 617px 880px #fefefe, 240px 403px #fefefe;
}*/

@keyframes star-animation {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
