.navbar-wrapper {
	background-color: rgba(0, 0, 0, 0.8);
    font-family: "Source Sans 3", sans-serif;
	margin-left: auto;
}

.navbar-text-wrapper,
.navbar-text-wrapper:hover {
	color: white;
	font-family: "Source Sans 3", sans-serif;
	font-size: 24px;
	font-weight: bold;
}